* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; 
       font-family: "Nunito Sans", sans-serif; 
       font-family: "Open Sans", sans-serif;
       font-family: "Poppins", sans-serif;  */
}

.container {
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
    max-width: 2200px;
}
.Create-account{
    /* margin-top: 30px; */
    padding: 60px 0;
}
.container-acc{
    max-width: 740px !important;
}
.acc-heading{
    margin: 0 auto 24px;
    text-align: center;
    display: block;
    max-width: 440px;
    position: relative;
}
.acc-title{
    position: relative;
    margin: 0;
    font-size: 26px;
    margin: 0;
    color: #131313;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    padding-bottom: 11px !important;
}
.acc-title::after {
    left: 50%;
    margin-left: -18px;
    content: "";
    width: 36px;
    height: 3px;
    background: #997a3b;
    position: absolute;
    bottom: 0;
}

/* Account-form */
.acc-form-content{
    overflow: hidden;
    position: relative;
}
input{
    /* border: 1px solid blue; */
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
}
input[type="hidden" i]{
    display: none !important;
}
.input-div{
    /* display: block; */
    padding: 0;
    list-style: none;
}
.input-div-item{
    display: inline-block;
    padding-left: 28px;
    /* margin: 10px; */
}
.input-div-item:first-child{
    padding-left:  0px;
}
input:focus {
    outline: none;
    border-color: 1px solid rgba(19, 19, 19, 0.2); /* or your desired color */
    box-shadow: none;
  }
  
  
label{
    display: block;
    font-size: 1rem;
    line-height: 1.7em;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
[type=text]{
    display: block;
    height: 48px;
    line-height: 22px;
    padding: 12px;
    color: #131313;
    border: 1px solid rgba(19, 19, 19, 0.2);
    width: 21.3rem;
    margin-bottom: 12px;
    cursor: pointer;
    background: #fff;
}
[type=email]{
    display: block;
    height: 48px;
    line-height: 22px;
    padding: 12px;
    color: #131313;
    border: 1px solid rgba(19, 19, 19, 0.2);
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
    background: #fff;
}
[type=password]{
    display: block;
    height: 48px;
    line-height: 22px;
    padding: 12px;
    color: #131313;
    border: 1px solid rgba(19, 19, 19, 0.2);
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
    background: #fff;
}

.acc-reset-link{
    text-align: right;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1.9;
    font-size: 13px;
}
.acc-reset-link a{
    color: #131313;
    text-decoration: none;
    font-weight: 600;
}
.acc-reset-link a:hover{
    color: #666666;
    transition: .2s all;
}
.acc-form-btn{
    margin-top: 18px;
}
.acc-btn{
    margin-right: 24px;
    border-radius: 0;
    background-color: #997a3b;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    height: auto;
    line-height: 30px;
    padding: 9px 30px;
    min-width: 84px;
    border: 0 none;
    font-size: 13px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.acc-btn:hover{
    background: #7b6331;
    transition: .2s all;
}
.link-acc{
    display: inline-block;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #131313;
    /* padding: 9px 30px; */
}
.link-acc:hover{
    color: #666666;
    transition: .2s all;
    /* background: #212121; */
}


/* section-2 */

.Scrolling-text {
    background-color: #c28a1227;
}

.scroll-bar {
    padding: 12px 0;
}

.scroll-txt {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* flex: 0 0 50%; */
    overflow: hidden;
    animation: scroll 35s linear infinite;
}

.marquee {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 34%;
    /* margin-right: 100%; added */
}

.marquee-txt span {
    color: #997a3b;
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 1.3;
    font-family: "Poppins", sans-serif;
}

.marquee-icon i {
    display: inline-block;
    font-size: 2.2rem;
    color: #997a3b;
    margin-left: 30px;
    margin-right: 34px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}




/* section-3 */
.Newsletter {
    margin-bottom: 60px;
    position: relative;
    background-color: #f0f0f0;
    /* border: 1px solid; */
}

.newsletter-body {
    padding: 48px 24px;
}

.newsletter-cont {
    max-width: 1400px !important;
    padding-left: 30px;
    padding-right: 30px;
}

.newsletter1-txtbody {
    text-align: center;
    margin: 0 auto 24px;
    display: block;
    max-width: 440px;
    position: relative;
}

.newsletter-title {
    font-size: 25px;
    color: #131313;
    font-weight: 600;
    line-height: 1.6;
    left: 50%;
    margin-left: -18px;
    padding-bottom: 11px;
    font-family: "Poppins", sans-serif;
}

.newsletter-title::after {
    background-color: #997a3b;
    position: absolute;
    content: "";
    width: 36px;
    height: 2.5px;
    bottom: 70px;
    left: 50%;
    margin-left: -18px;
    /* top: 0; */
}

.newsletter-txtbx {
    margin-top: 12px;
    margin-bottom: 0;
}

.newsletter-para {
    text-align: center;
    color: #131313;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
}

.newsletter-para a {
    color: #131313;
}

.newsletter-txtbx::after {
    content: "" !important;
    display: block !important;
    clear: both !important;
}

.newsletter2-txtbody {
    max-width: 720px;
    margin: 0 auto;
}

.newsletter-form {
    overflow: hidden;
    position: relative;
}

input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.newsletter2-txt {
    /* display: inline-block; */
    padding: 0;
    list-style: none;
    /* margin: 0 0 0 -30px; */
    /* font-size: 0; */
}

.newsletter-emailbx {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.newsletter-email {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px;
    margin: -1px !important;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.newsletter-input {
    border-color: #f0f0f0;
    background-color: #fff;
    color: #0d0d0d;
    display: block;
    height: 50px;
    line-height: 22px;
    padding: 12px;
    border: 1px solid rgba(19, 19, 19, 0.2);
    border-radius: 0;
    /* width: 100% !important; */
    width: 33rem;
    /* max-width: px; */
    cursor: pointer;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 85%;
    margin: 0;
}

.newsletter-submission {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.newsletter-btn {
    background-color: #997a3b;
    width: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    /* font-size: calc((11/13.0)*1rem); */
    font-size: 13px;
    font-weight: 500;
    height: 50px;
    line-height: 30px;
    padding: 8px 50px;
    min-width: 84px;
    border: 0 none;
    margin-left: -4px;
}

.newsletter-btn:hover {
    background-color: #997a1a;
}



.Footer {
    background-color: #fff;
    /* border: 1px solid; */
}

.footer-body {
    padding: 60px 0 18px;
}

.footer-bodybx {
    display: block;
    padding: 0;
    margin: 0 0 0 -30px;
}

.footer-nav {
    margin-bottom: 30px;
}

.footer-nav-title {
    color: rgb(13, 13, 13);
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.9;
    font-family: "Poppins", sans-serif;
}

.footer-nav-items {
    margin-bottom: 13px !important;
    margin: 0;
    padding: 0;
}

.footer-nav-items .nav-items-list {
    list-style: none;
    margin-bottom: 3px;
}

.footer-nav-items .nav-items-list a {
    color: #0d0d0dcc;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.footer-nav-items .nav-items-list a:hover {
    color: #000;
    transition: .2s all;
}

.footer-nav-text p {
    color: #0d0d0dcc;
    font-size: 14px;
    line-height: 1.9;
    padding-right: 27px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.footer-nav-para a {
    color: #0d0d0dcc;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.footer-nav-para a:hover {
    color: #000;
}

.footer-nav-social {
    margin-top: 12px;
}

.social-links {
    margin: 0 0 0 -2rem;
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
}

.social-link-item {
    display: block;
    flex: 0 0 auto;
    list-style: none;
    padding: 0 15px;
}

.social-link-item:first-child {
    padding-left: 0px;
}

.social-link-item i {
    font-size: 15px;
    font-weight: 400;
    color: #0d0d0dcc;
    line-height: 1.9;
    cursor: pointer;
}

.social-link-item i:hover {
    color: #000;
}


.footer-bottom {
    border-top: 1px solid rgba(13, 13, 13, .2);
    padding: 12px 0;
    min-height: 66px;
    /* background-color: #fff; */
}

.bottom-right {
    float: right;
}

.footer-copyright {
    margin-top: 9px;
}

.copyright-para {
    color: #0d0d0dcc;
}

.copyright-span {
    position: relative;
    color: #0d0d0dcc;
    font-size: .7rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.copyright-right {
    margin-left: 15px;
}


@media(max-width:600px) {
    .item2-heading {
        margin: 0;
    }

    .intro-content p {
        padding-left: 0;
        padding-right: 0;
    }

    .item2-para p {
        padding-left: 0;
        padding-right: 0;
    }

    .item3-abt3pic {
        padding-left: 0 !important;
    }


    .marquee{
        display: flex;
        flex: 0 0 50%;
        flex-wrap: nowrap;
        width: 100%;
    }
    .marquee-txt span{
        font-size: 1rem;
    }
    .marquee-icon i{
        font-size: 2rem;
    }
    .newsletter-title {
        font-size: 18px;
    }

    .newsletter-title::after {
        bottom: 100px;
    }

    .footer-bodybx {
        margin: 0;
    }

    .newsletter-submission {
        display: block;
    }

    .newsletter-cont {
        padding-left: 10px;
        padding-right: 10px;
    }

    .newsletter-btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .newsletter-input {
        width: 23.7rem;
    }


    .footer-nav-text p {
        padding-right: 0;
    }

}